{{ define "main" }}
	<div class="mt-n2">
		<h1>
		{{ if .Params.description }}
			{{ printf `%s: %s` ( .Type | humanize | singularize ) .Params.description }}
		{{ else }}
			{{ printf `%s: %s` ( .Type | humanize | singularize ) .Title }}
		{{ end }}
		</h1>
		<br />
	</div>
	{{ range sort .Paginator.Pages }}
	<article class="markdown book-post">
		<h2>
			<a href="{{ .RelPermalink }}">
			{{- if .Params.description }}
				{{- .Params.description }}
			{{- else }}
				{{- .Title }}
			{{- end -}}
			</a>
		</h2>
		{{ partial "page-meta" . }}
		<p>
		{{ .Summary }}
		{{ partial "read-more" . }}
		</p>
	</article>
	{{ end }}
	{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
	{{ partial "taxonomy" . }}
{{ end }}