{{ define "main" }}
	<div class="mt-n2">
		<h1>
		{{ if .Params.description }}
			{{ .Params.description }}
		{{ else }}
			{{ .Title }}
		{{ end }}
		</h1>
		<br />
	</div>
	<ul class="list-unstyled">
	{{ range .Paginator.Pages }}
		<li class="m-1">
			<a href="{{ .RelPermalink }}">
			{{- if .Params.description }}
				{{- .Params.description }}
			{{- else }}
				{{- .Title }}
			{{- end -}}
			</a>
		</li>
	{{ end }}
	</ul>
	<br />
	{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
	{{ partial "taxonomy" . }}
{{ end }}
