{{ $style := .Get "style" }}
{{ $title := .Get "title" }}

<div class="alert alert-{{ $style }} mx-2" role="alert">
	<h5 class="alert-heading">{{ $title }}</h5>
	<p>{{ print .Inner | markdownify }}</p>
</div>