{{ $style := .Get "style" }}
{{ $title := ( $style | humanize ) }}
{{ $icon := "" }}

{{ if (eq $style "success") }}
	{{ $icon = "fas fa-check-circle" }}
{{ else if (eq $style "info") }}
	{{ $icon = "fas fa-info-circle" }}
{{ else if (eq $style "warning") }}
	{{ $icon = "fas fa-exclamation-triangle" }}
{{ else if (eq $style "danger") }}
	{{ $icon = "fas fa-bomb" }}	
{{ else }}	
	{{ $style = "primary" }}
	{{ $icon = "fas fa-exclamation" }}
{{ end }}

<div class="card my-3 border-top-0 border-right-0 border-bottom-0 border-left border-{{ $style }} rounded" style="border-width:5px !important;">
	<div class="wrap border border-left-0 rounded">
		<div class="card-header border-0 bg-white pl-3 text-{{ $style }} mb-n3">
			<h5><i class={{ $icon }}></i>&nbsp;&nbsp;{{ $title }}</h5>
		</div>
		<div class="card-body pt-1 mx-4">
			{{- print .Inner | markdownify -}}
		</div>
	</div>
</div>
