{{ .Scratch.Set "content" "" }}
{{ .Scratch.Set "identifier" "" }}

{{ $identifier := "" }}
{{ $filepath := .Get "file" }}

{{ if ($filepath) }}
	{{ .Scratch.Set "content" ($filepath | readFile) }}
	{{ .Scratch.Set "identifier" (first 10 (md5 (.Scratch.Get "content"))) }}
{{ else }}
	{{ .Scratch.Set "content" .Inner }}
	{{ .Scratch.Set "identifier" (first 10 (md5 .Inner)) }}
{{ end }}

{{ $lang := .Get "lang" }}

<div class="position-relative bg-light px-3 pt-2 pb-1">
	<div class="position-absolute bg-light" style="right:0;">
		<button class="btn btn-outline-sm" data-clipboard-target="#{{ printf "clipboard_%s" (.Scratch.Get "identifier") }}">
			Copy
		</button>
	</div>
	<div id="{{ printf "clipboard_%s" (.Scratch.Get "identifier") }}">
	{{ (print "```" $lang "\n" (.Scratch.Get "content") "\n```") | markdownify }}
	</div>
</div>
