{{- define "main" -}}
	{{- partial "page-title.html" . }}
	{{- partial "page-meta.html" . -}}

	<div class="card my-3 border-top-0 border-right-0 border-bottom-0 border-left border-danger rounded" style="border-width:4px !important;">
		<div class="wrap border border-left-0 rounded">
			<div class="card-header border-0 bg-white pl-3 text-danger mb-n3">
				<h5>Warning</h5>
			</div>
			<div class="card-body pt-1">
				<p>The Experimental RealTime Kernel version:</p>
				<ul>
					<li>is not recommended for normal use.</li>
					<li>is not recommended for LMS use.</li>
					<li>is intended for advanced users that can work around any issue that arise.</li>
					<li>is known to have some possible issues.</li>
					<li>is not as thoroughly tested as the standard version.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="card my-3 border-top-0 border-right-0 border-bottom-0 border-left border-info rounded" style="border-width:4px !important;">
		<div class="wrap border border-left-0 rounded">
			<div class="card-header border-0 bg-white pl-3 text-info mb-n3">
				<h5>Info</h5>
			</div>
			<div class="card-body pt-1">
				If you decide to use an older version of piCorePlayer remember that it may not be compatible with newer versions of the Raspberry Pi. You need to review the Release notes to determine when the support for your particular Raspberry Pi was added. It is safer to use the latest version of piCorePlayer as it will be compatible with the latest version of the Raspberry Pi.
			</div>
		</div>
	</div>

	<div>
		<ul class="navbar-nav ml-auto">
		{{- with $.Params.download -}}
			{{- range . }}
			<li class="nav-item mt-4">
				<h5>piCorePlayer {{ .pcpversion }} - {{ with .pcpdate }}{{ dateFormat "2 January 2006" . }}{{ end }}</h5>
			</li>
			{{- if (eq .url false) }}
			<li class="nav-item">
				<a href="https://repo.picoreplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}.zip" target="_blank">
					piCorePlayer {{ .pcpversion }} - Standard Version
				</a>
			</li>
			{{- if (eq .bit64 true) }}
			<li class="nav-item">
				<a href="https://repo.picoreplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}-64Bit.zip" target="_blank">
					piCorePlayer {{ .pcpversion }} - 64Bit Kernel
				</a>
			</li>
			{{- end -}}
			{{- if (eq .realtime true) }}
			<li class="nav-item">
				<a href="https://repo.picoreplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}-Audio.zip" target="_blank">
					piCorePlayer {{ .pcpversion }} - Experimental RealTime Kernel
				</a>
			</li>
			{{- end -}}
			{{ else }}
			{{- if (eq .url "img" ) }}
			<li class="nav-item">
				<a href="https://repo.picoreplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}.img" target="_blank">
					piCorePlayer {{ .pcpversion }} - Standard Version
				</a>
			</li>
			{{- else -}}
			<li class="nav-item">
				<a href="{{ .url }}" target="_blank">
					piCorePlayer {{ .pcpversion }} - Standard Version
				</a>
			</li>
			{{- end }}
			{{- end }}
			<li class="nav-item">
				<a href="../releases/pcp{{ .pcpversion | replaceRE "[/.]" "" | replaceRE "[_RPi].*" ""}}/">
					Read more >
				</a>
			</li>
			{{- end -}}
		{{- end }}
		</ul>
	</div>
{{- end -}}