<div style="height:100vh;">
	<div class="d-flex flex-column align-items-center justify-content-center h-100">
		<h1 class="display-1 text-muted">Oops!</h1>
		<p class="lead">Error 404. The page you requested could not be found.</p>
		<a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-outline-primary mt-5">
			<i class="fas fa-arrow-left"></i>
			Return to the homepage
		</a>
	</div>
</div>
