<div class="small text-center mt-3">The Software is provided "as is" without warranty of any kind, either express or implied, including without limitation any implied warranties of condition, uninterrupted use, merchantability, fitness for a particular purpose, or non-infringement.</div>
<div class="small text-center">Raspberry Pi is a trademark of the Raspberry Pi Foundation.</div>
