<script src="{{ .Site.BaseURL }}lib/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}lib/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<script src="{{ "plugins/lunr.min.js" | relURL }}"></script>
<script src="{{ "plugins/auto-complete.js" | relURL }}"></script>
<link href="{{ "plugins/auto-complete.css" | relURL }}" rel="stylesheet">
<script>
	{{ if .Site.IsMultiLingual }}
		var baseurl = "{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}";
	{{ else }}
		var baseurl = "{{ .Site.BaseURL }}";
	{{ end }}
</script>
<script src="{{ "plugins/search.js" | relURL }}"></script>
<script src="{{ "plugins/clipboard.js" | relURL }}"></script>
<script>new ClipboardJS('.btn');</script>
