<div class="mt-0">
	{{ if .Params.author -}}
	<i class="fas fa-user mx-2"></i>{{ .Params.author }}
	{{- end }}
	{{ if .Params.date -}}
	<i class="fas fa-calendar mx-2"></i>{{ .Params.date.Format "2 January 2006" }}
	{{- end }}
	{{ if .Params.pcpver -}}
	<i class="fab fa-vimeo mx-2"></i>pCP {{ .Params.pcpver }}
	{{- end }}
	{{ if .Params.categories -}}
	<i class="fas fa-folder mx-1"></i>
	{{- range $index, $category := .Params.categories }}
		{{- if gt $index 0 }}&nbsp;&bullet;{{- end }}
		<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="category">{{ . }}</a>
	{{- end }}
	{{- end }}
	{{ if .Params.tags -}}
	<i class="fas fa-tag mx-1"></i>
	{{- range $index, $tag := .Params.tags }}
		{{- if gt $index 0 }}&nbsp;&bullet;{{- end }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>
	{{- end }}
	{{- end }}
</div>
<br />