<div class="mt-0">
	<h2>
		<a href="{{ .RelPermalink }}">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Title }}{{ end }}</a>
	</h2>
</div>
<div class="mt-0">
	{{ if .Params.author }}<i class="fas fa-user mx-2"></i>{{ .Params.author }}{{ end }}
	{{ if .Params.date }}<i class="fas fa-calendar mx-2"></i>{{ .Params.date.Format "2 January 2006" }}{{ end }}
</div>
