<nav>
	<ul>
	{{- range $term, $_ := .Site.Taxonomies }}
		{{- with $.Site.GetPage (printf "/%s" $term | urlize) }}
		<li>
			<strong>{{ .Title | title }}</strong>
			<ul>
			{{- range .Pages }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}<span>{{ len .Pages }}</span></a></li>
			{{- end }}
			</ul>
		</li>
		{{- end }}
	{{- end }}
	</ul>
</nav>
