<!DOCTYPE html>
<html>
	{{ partial "head.html" . -}}
	<body>
		{{- partial "header.html" . -}}
		<div class="container-fluid">
			<div class="row">
				<div class="docs-sidenav order-0 col-12 col-md-3 col-lg-2 col-xl-2 border-right">
					{{- partial "menu.html" . -}}
					<hr>
				</div>
				{{- if and (ne .Site.Params.toc false) (ne .Params.toc false) }}
				<div class="docs-toc large order-lg-2 order-md-0 order-xs-1 col-12 col-lg-2 col-xl-2 border-left">
					{{ block "toc" . }}{{- end }}
					<hr>
				</div>
				<div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-8 py-3">
				{{ else }}
				<div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-10 py-3">
				{{ end }}
					{{- block "main" . }}{{- end }}
					<div class="row">
						{{- if and (ne .Site.Params.disableReadmoreNav true) (ne .Params.disableReadmoreNav true) -}}
						<div class="position-relative mx-auto col-lg-12">
							{{ partial "next-prev-page.html" . }}
						</div>
						{{- end -}}
					</div> <!-- /end of row -->
					{{- partial "footer.html" . -}}
					{{- partial "copyright.html" . -}}
				</div>
			</div> <!-- /end of row -->
		</div> <!-- /end of container -->
	</body>
</html>
